In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class Person:
    name: str
    age: int
    profession: str

In [3]:
p1 = Person("Alice", 23, "SDE")

p1

Person(name='Alice', age=23, profession='SDE')

In [4]:
p2 = Person("Bob", 34, "SE")

p2

Person(name='Bob', age=34, profession='SE')

In [5]:
p1 == p1

True

In [6]:
p1 == p2

False

In [7]:
@dataclass
class Person:
    name: str
    age: int
    profession: str = "SDE"

In [8]:
p1 = Person("Alice", 12)

p1

Person(name='Alice', age=12, profession='SDE')

In [9]:
 p1.profession = "SE"

p1.profession

'SE'

### Immutable Class

In [10]:
@dataclass(frozen = True)
class Point:
    x: float
    y: float

In [12]:
point1 = Point(23, 12)

In [13]:
point1.x = 1

FrozenInstanceError: cannot assign to field 'x'

### Inheritance

In [14]:
@dataclass
class Person:
    name: str
    age: int

@dataclass
class Employee(Person):
    emp_id: int
    dept: str

In [15]:
p1 = Person("Alice", 23)

p1

Person(name='Alice', age=23)

In [16]:
e1 = Employee("Bob", 34, "123", "IT")

e1

Employee(name='Bob', age=34, emp_id='123', dept='IT')

### Nested Data Classes

In [21]:
@dataclass
class Address:
    street: str
    city: str
    zip: int

@dataclass
class Person:
    name: str
    age: int
    address: Address

In [22]:
a1 = Address("Cross Street", "Indore", 234567)

a1

Address(street='Cross Street', city='Indore', zip=234567)

In [23]:
p1 = Person("Alice", 23, a1)

p1

Person(name='Alice', age=23, address=Address(street='Cross Street', city='Indore', zip=234567))

In [26]:
p1.address.street

'Cross Street'

In [27]:
p1.address.city

'Indore'

In [28]:
p1.name

'Alice'